.card{
    width: 250px;
    height: 300px;
    border: 1px solid red;
    margin: 1rem;
    list-style-type: none;
    color: black;
}
.main{
    flex-wrap: wrap;
    display: flex;
}
img{
    width: 250px;
    height: 200px;
}