<div class="container mt-4">
  <div class="d-flex justify-content-between">
    <h1>{{ getTeacherName() }}</h1>
    <button
      type="button"
      class="btn btn-success d-flex align-items-center m-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-file-plus-fill"
        viewBox="0 0 16 16"
        (click)="addCourse()"
      >
        <path
          d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"
        ></path>
      </svg>
      <label style="margin-left: 5px"> Add Course </label>
    </button>
  </div>
  <!--  -->
  <div class="d-flex">
    <div
      class="card m-3 btn"
      style="width: 18rem"
      *ngFor="let course of courses"
      (click)="goCourse(course)"
    >
      <div class="card-body">
        <h5 class="card-title">{{ course.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ course.categoryID }}</h6>
        <p class="card-text">
          {{ course.description }}
        </p>
        <div class="d-flex flex-row justify-content-evenly">
          <label>{{ course.price }}</label>
          <label>{{ course.credit }}</label>
        </div>
      </div>
    </div>
  </div>
</div>
