<div class="bg-light">
  <nav class="navbar container">
    <div class="container-fluid">
      <a class="navbar-brand">&nbsp;</a>
      <form
        #searchForm="ngForm"
        class="d-flex flex-grow-1 ml-4 mr-4"
        role="search"
        (ngSubmit)="submitSearchForm()"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Course"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-person-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
          ></path>
        </svg>
      </div>
    </div>
  </nav>
  <div class="container mt-1 d-flex flex-row justify-content-start">
    <div *ngFor="let item of getBar()">
      <div
        class="btn p-0 d-flex flex-row align-items-center"
        (click)="navigatePage(item[1])"
      >
        <label>{{ item[0] }}</label>
        <p>></p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
